*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,main,footer{
    padding: 10px;
    text-align: center;
}
header{
    background-color: black;
    display: flex;
}
header nav ul{
    display: flex;
    color: whitesmoke;
    list-style: none;
}
img{
    display: flex;
    width: 30%;
}
body{
    background-color: black;
    color: grey;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-optical-sizing: auto;
}

footer {
    text-align: center;
    font-weight: bold;
}
a{
    color: aquamarine;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
}
a:active{
    color: black;
}
