//mixin con parametros
@mixin grid ($grid, $row, $column){
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}


//mixin sin parametros
@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-general{
    display: flex;
    justify-content: center;
    text-align: center;
}

//mixin con parametros y estilos propios
@mixin estilos-ul ($color){
    color: $color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    font-weight: lighter;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
